table{
	width:95%;
    margin:auto;
    margin-bottom: 7%;
	max-width:960px;
	border-collapse:collapse;
}
table td{
	border:none;
    padding:2%;
    text-align: left;
}

table th {
    text-align: left;
    padding:2%;
}

table td.spanned {
    text-align: center;
}

table tr:nth-child(even){background-color: white}
table tr:nth-child(odd){background-color: gainsboro}

table th {
    background-color: #4CAF50;
    color: white;
}

@media screen and (max-width:900px) {
	table {
		word-wrap:break-word;
	}
	table thead {
		display:none
	}
	table td {
		display:block;
		float:left;/* ie9 and under hack */
		width:100%;
		clear:both;
		padding:10px 5px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
    }
    
    table tr:nth-child(even){background-color: white}
    table tr:nth-child(odd){background-color: gainsboro}


	table tbody, table tr {
		display:block
	}
	table td:before {
		content:attr(data-th);
		display:block;
		font-weight:bold;
		margin:0 0 2px;
		color:green;
	}
	table tbody tr {
        border: 1px solid black;
        float:left;
        width:90%;
        margin-bottom:10px;
	}
}
